Django==6.0.1
django-filter==25.2
djangorestframework==3.16.1
pip==26.0
sqlparse==0.5.5
asgiref==3.11.0
mysqlclient==2.2.7
python-decouple==3.8
pillow==12.1.0
djangorestframework_simplejwt==5.5.1
django-stubs==5.2.9
django-stubs-ext==5.2.9
djangorestframework-stubs==3.16.8
PyJWT==2.11.0
types-PyYAML==6.0.12.20250915
typing_extensions==4.15.0
